<div class="about_hero">
  <br /><br /><br /><br /><br /><br /><br />
 
  <br /><br />

  <div class="box row col-8 offset-2 text-center">
    <div class="col-sm-12">
      <div class="welcome">
        <br /><!-- <br /><br /> -->
        <div class="aboutMe">
          <img src="/me2.jpg">
        </div>
        <p>I am a Licensed Clinical Social Worker with over 20 years experience in the field of social services. My education consists of a Bachelors of Science in Secondary Education from Kutztown University and my Masters of Social Work from Colorado State University. I incorporate a variety of treatment modalities, to include Cognitive Behavior and Dialectical Behavior Therapy to address concerns related to:</p>

          <p>Anxiety Disorders &#9679 Behavioral and Discipline Challenges &#9679 Anger and Stress Management &#9679 Criminal Thinking and Behavior &#9679 Sexual Issues and Addiction &#9679 Sexual Victimization &#9679 Mood Disorders &#9679 Personality Disorders &#9679 Individuals with Different Abilities &#9679 Self-Image and Self Esteem Issues</p>

        <p>I have worked and will continue to work with teens, adults, individuals with different intellectual/developmental abilities, and the LGBTQ community. I am an approved SOMB provider and work closely with The Resource Exchange. </p>
        <br /><!-- <br /><br /> -->
        <h4>Please contact me to schedule a free initial consultation</h4>
        <br />
        <span class="fa fa-phone fa-2x phone-button">                       719-287-1461</span>
        <br />
        <br />
        <span class="fa fa-envelope fa-2x envelope-button"><a href="mailto:laureenq10.gmail.com? ">                       laureenq10@gmail.com</a></span>
        <br />
        <!-- <h6>Click below to schedule an appointment</h6>
        <br />
        <%= link_to 'Schedule An Appointment', '#', class: 'btn btn-success' %> -->
        <br /><!-- <br /><br /> -->
      </div>
    </div>
    <!-- <div class="col-sm-4">
      <div class="aboutMe">
        <br />
        <h6>About Me</h6>
        <img src="/me.jpg">
        <p>As an experienced _______________ therapist, it is my honor to assist you in exploring your core issues and move toward a healthy, fulfilling life.</p>

        <p>I offer ________________ therapy sessions in and around Colorado Springs, Colorado.</p>
        <br />
      </div>
    </div> -->
  </div>
</div>