<div class="contact_hero">
  <br /><br /><br /><br /><br /><br /><br />
 
  <br /><br />

  <div class="box row col-8 offset-2 text-left">
    <div class="col-sm-12 text-center">
      <br /><br />
      <div class="welcome">

        <a href="https://www.google.com/maps/place/703+N+Tejon+St,+Colorado+Springs,+CO+80903/data=!4m2!3m1!1s0x8713453fdb86eceb:0x8abb63498ea059d1?sa=X&ved=2ahUKEwiWxYqEv_jnAhUMd6wKHQYlAPsQ8gEwAHoECAsQAQ" target="_blank">
          <img border="0" alt="703 N. Tejon St. Suite B" src="/map.png" width="700" height="350">703 N. Tejon St. Suite B</a>

        <br /><br /><br />
        <h4>Please contact me to schedule a free initial consultation</h4>
        <i class="fas fa-phone-alt">719-287-1461</i>
        <%= link_to 'Schedule An Appointment', '#', class: 'btn btn-success' %>
      </div>
    </div>
  </div>
</div>

<!-- <br />

<%= image_tag 'map.png' %>

<div class="row feature text-center">
<div class="box col-10 offset-1 text-center">
  <div class="col-12 col-sm">
    <h3>Welcome</h3>
    <h4>Asking for help is a sign of strength</h4>
    <p>Whether you’re experiencing depression or anxiety, or you need help with managing stress, it takes courage to ask for help. Admitting you can’t do everything on your own, is the first step toward achieving wellness in a fast paced, demanding world.</p>

    <p>The good news is, asking for help gets easier with a little practice. The way in which we cope in the world is greatly influenced by how we see the world. Asking for help, and obtaining a fresh perspective is often the first and most profound step toward developing the mental muscle needed to become stronger. The more support you gain, the better equipped you will be to take on bigger challenges and achieve more successes.</p>
  </div>
  <div class="col-12 col-sm">
    <h3>Feature 2</h3>
  </div>
  <div class="col-12 col-sm">
    <h3>Feature 3</h3>
  </div>
</div> -->