<div class="hero">
  <br /><br /><br /><br /><br /><br /><br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Higher Peaks Counseling</h1>
    <!-- <br /> -->
    <h2>Private Therapy by Laureen Quinn, LCSW</h2>
    <br />
  </div>

  <br /><br />

  <div class="box row col-8 offset-2 text-left">
    <div class="col-sm-8">
      <div class="welcome">
        <br />
        <h3>Welcome!</h3>
        <br />
        <h4>Asking for help is a sign of strength</h4>
        <br />
        <p>Let’s be real with each other. Life can be hard. I want to be your ally. To sit WITH you during trying times.  To help you navigate the muddy waters so you may find your way to clarity. To help you see the happiness you deserve, and the different paths to help get you there. </p>

        <p>Since age 19, I’ve worked in a wide variety of jobs in the social services field. My entire career, people from all walks of life have helped me become the therapist I am today. The teens I worked with in juvenile treatment facilities and in the community taught me that compassion and patience can create a brighter future for the next generations. Assisting individuals with different abilities showed me that we are all capable of reaching our truest potential if we have someone believe in us. And I have learned that by understanding why individuals engage in unhealthy behaviors, often landing them in the criminal system, empathy can help those individuals heal and create a safer place for our community.</p>


        <!-- <p>Whether you’re experiencing depression or anxiety, or you need help with managing stress, it takes courage to ask for help. Admitting you can’t do everything on your own, is the first step toward achieving wellness in a fast paced, demanding world.</p>

        <p>The good news is, asking for help gets easier with a little practice. The way in which we cope in the world is greatly influenced by how we see the world. Asking for help, and obtaining a fresh perspective is often the first and most profound step toward developing the mental muscle needed to become stronger. The more support you gain, the better equipped you will be to take on bigger challenges and achieve more successes.</p> -->
        <br />
      </div>
    </div>
    <div class="col-sm-4">
      <div class="aboutMe">
        <br /><!-- <br /><br /><br /> -->
        <!-- <h6>About Me</h6> -->
        <img src="/me1.jpg">
        <br /><!-- <br /><br /> -->
        <p>Please contact me to schedule a free initial consultation</p>
        <!-- <br /> -->
        <span class="fa fa-phone fa-1x phone-button">                       719-287-1461</span>
        <br />
        <span class="fa fa-envelope fa-1x envelope-button">                       laureenq10@gmail.com</span>
        <br />
        <!-- <p>Click below to schedule an appointment</p>
        <br />
        <%= link_to 'Schedule An Appointment', '#', class: 'btn btn-success' %>
        <br /><br /><br /> -->
        <!-- <p>As an experienced _______________ therapist, it is my honor to assist you in exploring your core issues and move toward a healthy, fulfilling life.</p>

        <p>I offer ________________ therapy sessions in and around Colorado Springs, Colorado.</p> -->
        <br />
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-sm-12 text-center">
  <div class="welcome">
    <br /><br /><br />
    <h4>Please contact me to schedule a free initial consultation</h4>
    <br />
    <span class="fa fa-phone fa-2x phone-button">                       719-287-1461</span>
    <br />
    <br />
    <h6>Click below to schedule an appointment</h6>
    <br />
    <%= link_to 'Schedule An Appointment', '#', class: 'btn btn-success' %>
    <br /><br /><br />
  </div>
</div> -->

<!-- <div class="sBox row col-10 offset-1 text-center">
  <h4>Please contact me to schedule a free initial consultation</h4>
  <h5>719-287-1461</h5>
  <i class="fas fa-phone-alt">123-456-7890</i>
  <br />
  <%= link_to 'Schedule An Appointment', '#', class: 'btn btn-success' %>
<br /><br />
</div> -->

<!-- <br />
<div class="row feature text-center">
<div class="box col-10 offset-1 text-center">
  <div class="col-12 col-sm">
    <h3>Welcome</h3>
    <h4>Asking for help is a sign of strength</h4>
    <p>Whether you’re experiencing depression or anxiety, or you need help with managing stress, it takes courage to ask for help. Admitting you can’t do everything on your own, is the first step toward achieving wellness in a fast paced, demanding world.</p>

    <p>The good news is, asking for help gets easier with a little practice. The way in which we cope in the world is greatly influenced by how we see the world. Asking for help, and obtaining a fresh perspective is often the first and most profound step toward developing the mental muscle needed to become stronger. The more support you gain, the better equipped you will be to take on bigger challenges and achieve more successes.</p>
  </div>
  <div class="col-12 col-sm">
    <h3>Feature 2</h3>
  </div>
  <div class="col-12 col-sm">
    <h3>Feature 3</h3>
  </div>
</div> -->