<div class="hero">
  <br /><br /><br /><br /><br /><br /><br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Higher Peaks Counseling</h1>
    <!-- <br /> -->
    <h2>Private Therapy by Laureen Quinn, LCSW</h2>
    <br />
    <%= link_to 'Schedule An Appointment', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="row text-center">
  <div class="col-12 col-sm">
    <h3>Feature 1</h3>
  </div>
  <div class="col-12 col-sm">
    <h3>Feature 1</h3>
  </div>
  <div class="col-12 col-sm">
    <h3>Feature 1</h3>
  </div>
</div>