<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Higher Peaks Counseling</h1>
    <br />
    <h2>Laureen Quinn, LCSW</h2>
    <br />
    <%= link_to 'Schedule An Appointment', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>