@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

/*body, html {
  height: 100%;
}*/

.navbar {
  color: white;
  font-family: 'Teko', sans-serif;
  font-weight: 200;
  font-size: 25px;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('vintage-wallpaper.png');
}

.navbar-inverse a.navbar-brand {
  color: white;
  font-family: 'Teko', sans-serif;
  font-weight: 100;
  font-size: 35px;
}

.hero {
  background: image_url('PikesPeak.jpg');

  /* Full height */
  height: 1000px;

  /* Center and scale the image nicely */
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.contact_hero {
  background: image_url('PikesPeak_trail.jpg');

  /* Full height */
  height: 1000px;

  /* Center and scale the image nicely */
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.forms_hero {
  background: image_url('PikesPeakView.jpg');

  /* Full height */
  height: 1000px;

  /* Center and scale the image nicely */
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.about_hero {
  background: image_url('About.jpg');

  /* Full height */
  height: 1000px;

  /* Center and scale the image nicely */
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.services_hero {
  background: image_url('Services.jpg');

  /* Full height */
  height: 1000px;

  /* Center and scale the image nicely */
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 3px 8px #2a2a2a;
}


h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
}

.frosty h1 {
  color: white;
  font-family: 'Teko', sans-serif;
  font-size: 100px;
  font-weight: 200;
}

.frosty h2 {
  color: white;
  font-family: 'Teko', sans-serif;
  font-size: 40px;
  font-weight: 200;
}

.btn {
  border-radius: 0px;
}

.box {
  background: rgba(255, 255, 255, 0.7);
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

p {
  text-align: left;
}

.welcome{
  margin: auto 25px;
  font-weight: 550;
}
.welcome h3 {
  color: #C61D94;
}

.aboutMe {
  font-weight: 550;
}

.aboutMe img {
  border-radius: 8px;
  height: 250px;
  margin: 25px auto;
  /*background: image_url('me.jpg');*/
}

.aboutMe h6 {
  color: #C61D94;
}

.sBox {
  background: rgba(255, 255, 255, 0.7);
}